@tailwind utilities;
@tailwind components;
@tailwind base;

#root {

}

* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1
  }
}

